{% layout "layout.liquid" %}
{% block content %}

<style>
    body {
        background-image: radial-gradient(circle, #925f00 5%, brown 15%, black 60%);
    }
    .stats-title {
        text-decoration: underline;
    }
    .heading {
        background: burlywood;
        text-align: center;
    }
    img {
        border: solid rgb(77, 76, 76) 2px;
    }
</style>

<article>

    <div>
        <h1 class="heading">Yugioh Card Stats</h1>
    </div>
        <h2>{{ card.name }}</h2>
        <img src="{{card.img}}" alt="Yugioh card">

    <div>
        <h2>
            <div class="stats-title">Stats</div>
            <h3>
                <h2>
                    Category:
                    <h4>{{ card.category }}</h4>
                </h2>
                <h2> 
                Attribute: 
                <h4>{{ card.attribute }}</h4>
                </h2>   
            </h3>

            <h2>
                Monster Type:
                <h4>{{ card.monsterType }}</h4>
            </h2>
            <h2>
                Card Type:
                <h4>{{ card.cardType }}</h4>
            </h2>
            <h2>
                Card Text:
                <h4>{{card.cardText}}</h4>
            </h2>
            <h2>
                Attack:
                <h4>{{card.atk}}</h4>
            </h2>
            <h2>
                Defense:
                <h4>{{card.def}}</h4>
            </h2>
        </h2>
    </div>

    <a href="/cards/{{card._id}}/edit"><button>Edit {{card.name}}</button></a>
    <form action="/cards/{{card._id}}?_method=DELETE" method=post>
        <input type="submit" value="Delete" class="delete">
    </form>

</article>

{% endblock %}